<section class="section">
  <h1 class="title is-1">Authors</h1>
</section>

<% if notice %>
  <section class="section">
    <p style="color: green"><%= notice %></p>
  </section>
<% end %>

<section class="section">
  <div class="columns">
    <div class="column is-12">
      <% @authors.each do |author| %>
        <div class="card block">
          <div class="card-content"><%= render author %></div>
        </div>
      <% end %>
    </div>
  </div>
</section>

<section class="section level">
  <%= link_to "Add a new author", new_author_path %>
</section>