<section class="section level">
  <h1 class="title is-1">New author</h1>
</section>

<section class="section">
  <%= render "form", author: @author %>
</section>

<section class="section">
  <%= link_to "Back to authors", authors_path %>
</section>
