<section class="section level">
  <h1 class="title is-1">Edit book</h1>
</section>

<section class="section">
  <%= render "form", book: @book %>
</section>

<section class="section">
  <%= link_to "Show this book", @book %> |
  <%= link_to "Back to books", books_path %>
</section>