<section class="section">
  <h1 class="title is-1">Books</h1>
</section>

<% if notice %>
  <section class="section">
    <p style="color: green"><%= notice %></p>
  </section>
<% end %>

<section class="section">
  <div class="columns">
    <% (0..2).each do |i| %>
      <div class="column is-4">
        <% @column_books[i].each do |book| %>
          <div class="card block">
            <div class="card-content"><%= render book %></div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</section>

<section class="section level">
    <%= link_to "Add a new book", new_book_path %>
</section>